{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Welcome To Taskmate!</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4"><img src="{% static 'images/notes.jpg' %}" alt="Notes" width="100%" class="shadow"></div>
            <div class="col-lg-4"><img src="{% static 'images/notes1.jpg' %}" alt="Notes" width="100%" class="shadow"></div>
            <div class="col-lg-4"><img src="{% static 'images/notes2.jpg' %}" alt="Notes" width="100%" class="shadow"></div>

        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1 text-primary">"Quick And Easy To Use Anywhere, Anytime!"</p></center>
                <center><p class="h2 mt-2">Your Personal Task Manager!</p></center>
                <center><p class="h5 mt-3">TASKMATE Lets You Keep Track Of Your Tasks In One Place.</p></center>
                <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a></center>
            </div>     
        </div>
    </div>    
{% endblock content %}